<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bowling API</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue.css">
</head>
<style>

        @media only screen and (max-width: 600px) {
            .content{
                padding:25px 25px !important;
                min-height: 100%;
            }
        }

        body{
            background-color: #ECDEC9	;
            max-width:900px;
            margin:0px auto;
        }
        #section{
            padding:50px 25%;
            min-height: 100%;
        }
        #header{
            height: 75px;
            width:auto;
            background-color:rgb(57, 57, 119);
            margin:0px
        }

        #footer{
            height: 75px;
            width:100%;
            background-color:rgb(207, 42, 51);
        }

        #content{
            /* background-color:rgb(66, 157, 209); */
            padding:50px 25%;
            min-height: 100%;
        }

        h1{
            margin:auto auto;
            color:white;
            /* padding:15px; */
        }

        .response-body{
            max-width: 525px;
            min-width: 280px;
            background-color:white;padding:5px;
            border: rgb(150, 9, 9) solid 3px;border-radius: 5px;
        }

    </style>
<body>
<div class="w3-card-4">
    <div class="w3-container w3-theme w3-card" id="header">
        <h1>Tucker Miller WebApi</h1>
    </div>
    <div class="w3-theme-l5" id="content">
        <h2 style="text-align: center">Player Calls</h2>
        <div>
            <h3>GET ~ All Players</h3>
            <h5>webApi.TuckerMillerDev.com/players</h5>
            <div class="response-body">
                [{<br>&nbsp;&nbsp;&nbsp;&nbsp;"username":"tdmiller",<br>&nbsp;&nbsp;&nbsp;&nbsp;
                "password":"1234",<br>&nbsp;&nbsp;&nbsp;&nbsp;
                "playerName":"Tucker Miller",<br>&nbsp;&nbsp;&nbsp;&nbsp;
                "average":120,<br>&nbsp;&nbsp;&nbsp;&nbsp;
                "max":165<br>&nbsp;&nbsp;}]
            </div>
        </div>
        <div>
            <h3>GET ~ Single Player by Username</h3>
            <h5>webApi.TuckerMillerDev.com/players/{username}</h5>
            <div class="response-body">
                {<br>&nbsp;&nbsp;&nbsp;&nbsp;"username":"tdmiller",<br>&nbsp;&nbsp;&nbsp;&nbsp;
                "password":"1234",<br>&nbsp;&nbsp;&nbsp;&nbsp;
                "playerName":"Tucker Miller",<br>&nbsp;&nbsp;&nbsp;&nbsp;
                "average":120,<br>&nbsp;&nbsp;&nbsp;&nbsp;
                "max":165<br>&nbsp;&nbsp;}
            </div>
        </div>
        <div>
            <h3>PUT ~ Update Player by Username</h3>
            <h5>webApi.TuckerMillerDev.com/player/{username}</h5>
            <div class="response-body">
                {<br>&nbsp;&nbsp;&nbsp;&nbsp;"username":"tdmiller",<br>&nbsp;&nbsp;&nbsp;&nbsp;
                "password":"1234",<br>&nbsp;&nbsp;&nbsp;&nbsp;
                "playerName":"Tucker Miller",<br>&nbsp;&nbsp;&nbsp;&nbsp;
                "average":120,<br>&nbsp;&nbsp;&nbsp;&nbsp;
                "max":165<br>&nbsp;&nbsp;}
            </div>
        </div>
        <div>
            <h3>POST ~ Create Player</h3>
            <h5>webApi.TuckerMillerDev.com/player</h5>
            <div class="response-body">
                {<br>&nbsp;&nbsp;&nbsp;&nbsp;"username":"tdmiller",<br>&nbsp;&nbsp;&nbsp;&nbsp;
                "password":"1234",<br>&nbsp;&nbsp;&nbsp;&nbsp;
                "playerName":"Tucker Miller",<br>&nbsp;&nbsp;&nbsp;&nbsp;
                "average":120,<br>&nbsp;&nbsp;&nbsp;&nbsp;
                "max":165<br>&nbsp;&nbsp;}
            </div>
        </div>
        <div>
            <h3>DELETE ~ Delete Player by Username</h3>
            <h5>webApi.TuckerMillerDev.com/player/{username}</h5>
            <div class="response-body">
                [No Response]
            </div>
        </div>
    </div>
    <div class="w3-theme-l5" id="content">
        <h2 style="text-align: center">Record Calls</h2>
        <div>
            <h3>GET ~ All Records</h3>
            <h4>webApi.TuckerMillerDev.com/record</h4>
            <div class="response-body">
                [{<br> &nbsp;&nbsp;
                "username": "tdmiller",<br> &nbsp;&nbsp;
                "games": [<br> &nbsp;&nbsp; &nbsp;&nbsp;
                {<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    "id":"1",<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    "score":120,<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    "date":"2019-04-12T00:00:00.000+0000"<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}]<br>
                },<br>
                {<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    "id":"2",<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    "score":120,<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    "date":"2019-04-12T00:00:00.000+0000"<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}]<br>
                },<br>
                {<br> &nbsp;&nbsp;
                    "username": "newPerson",<br> &nbsp;&nbsp;
                    "games": [<br> &nbsp;&nbsp; &nbsp;&nbsp;
                    {<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        "id":"1",<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        "score":120,<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        "date":"2019-04-12T00:00:00.000+0000"<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}]<br>
                    },<br>
                    {<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        "id":"2",<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        "score":120,<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        "date":"2019-04-12T00:00:00.000+0000"<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}]<br>
                    }]
            </div>
        </div>
        <div>
            <h3>GET ~ Single Hstory by Player Username</h3>
            <h4>webApi.TuckerMillerDev.com/record/{username}</h4>
            <div class="response-body">
                {<br> &nbsp;&nbsp;
                    "username": "tdmiller",<br> &nbsp;&nbsp;
                    "games": [<br> &nbsp;&nbsp; &nbsp;&nbsp;
                    {<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        "id":"1",<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        "score":120,<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        "date":"2019-04-12T00:00:00.000+0000"<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}]<br>
                    },<br>
                    {<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        "id":"2",<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        "score":120,<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        "date":"2019-04-12T00:00:00.000+0000"<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}]<br>
                    }
            </div>
        </div>
        <div>
            <h3>PUT ~ Update History by Player Username</h3>
            <h5>webApi.TuckerMillerDev.com/record/{username}</h5>
            <div class="response-body">
                {<br> &nbsp;&nbsp;
                "id": "1",<br> &nbsp;&nbsp;
                "playerName": "Lakin Lane",<br> &nbsp;&nbsp;
                "games": [<br> &nbsp;&nbsp; &nbsp;&nbsp;
                { <br> &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
                "id": "1",<br> &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
                "playerName": "Lakin Lane",<br> &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
                "score": 145,<br> &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
                "date": "2017-10-20T04:00:00.000+0000"<br> &nbsp;&nbsp; &nbsp;&nbsp;
                }]<br>
            }
            </div>
        </div>
        <div>
            <h3>POST ~ Create History</h3>
            <h5>webApi.TuckerMillerDev.com/history</h5>
            <div class="response-body">
                {<br> &nbsp;&nbsp;
                    "id": "1",<br> &nbsp;&nbsp;
                    "playerName": "Lakin Lane",<br> &nbsp;&nbsp;
                    "games": [<br> &nbsp;&nbsp; &nbsp;&nbsp;
                    { <br> &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
                    "id": "1",<br> &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
                    "playerName": "Lakin Lane",<br> &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
                    "score": 145,<br> &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
                    "date": "2017-10-20T04:00:00.000+0000"<br> &nbsp;&nbsp; &nbsp;&nbsp;
                    }]<br>
                }
            </div>
        </div>
        <div>
            <h3>DELETE ~ Delete Player by ID</h3>
            <h5>webApi.TuckerMillerDev.com/player/1/history</h5>
            <div class="response-body">
                [No Response]
            </div>
        </div>



    </div>
</div>

<div class="w3-theme-d3" id="footer">

</div>
</div>
</body>
</html>